@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

main.text{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    border-bottom: 0.1px rgba(0, 0, 0, 0.16) solid;
    padding-bottom: 100px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

main.text div.hello{
    margin-left: 50px;
}

main.text div.hello p.first{
    width: 70%;
    font-size: 16px;
    font-family: "Titillium Web",sans-serif;
    margin-top: 9px;
}

main.text div.image{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

main.text div.image img{
    width: 226.1px;
    height: 87.5px;
}

main.text div.body{
    display: flex;
    justify-content: center;
    align-items: center;
}

main.text div.body img{
    margin-left: 20px;
    display: flex;
    width: 320px;
    height:650px;
}

main.text div.body div.txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 42%;
}

main.text div.body div.txt p{
    width: 100%;
    font-size: 16px;
    font-family: "Titillium Web",sans-serif;


}

main.text div.hello{
    display: flex;
    justify-content: center;
    align-items: center;
}